<div class="container mt-5  p-4 resumeDiv">
  <div class="row">
    <div class="col-md-12 d-flex">
      <div class="col-md-7 p-4">
        <div>
          <span class="h4 ">
            Create A Resume
          </span>
        </div>
        <div class="mt-3">
          Build a professional resume for your next job.Chooes a template and start customizing.
          Stand from the crowd with a polished,job-ready design.
        </div>

        <div>
          <button class="btn btnbgcolor text-white mt-5" (click)="createResume()"> Create a Resume</button>
        </div>
      </div>
      <div class="col-md-5 me-2 justify-content-center d-flex">
        <img class="w-75" src="../../../../assets/images/3Resume.png" alt="">
      </div>
    </div>
  </div>
</div>


<div class="container reJob ">
  <div class="row">
    <div>
      <h4>
        Recommended Job Related To This Resume
      </h4>
      <div>
        Recommendation arebased on your rsume and job preferences
      </div>

      <div class=" ">
    <div class="mt-5 d-flex justify-content-center">
      <img src="../../../../assets/images/ReJob.svg" alt="">


    </div>
    <div class=" d-flex justify-content-center">
      You don't have any recommended job's
    </div>
      </div>
    </div>
  </div>
</div>
