.btnbgcolor{
  background-color: #3b2b92 !important;
  border-radius: 20px !important;
}
.reJob{
  margin-top: 8% !important;
}
.resumeDiv{
  border-radius: 15px !important;
  width: 83% !important;
  background-color:#B771E514 !important;
}
