<div class="container">
  <div class="row">
    <div class="centerClass">
      <span class="textColor fs-4">Your current resume is a solid starting point.</span>
    </div>
    <div class="centerClass  mt-3">
      <p class="fs14">
        Upload it to get a head start -or skip and begin building from scratch!
        <br>
        <span class="centerClass">
          We'll pull your detailsto speed up the process.
        </span>
      </p>
    </div>
  </div>
  <div class="mt-5 centerClass">
    <div class="dragDrop w-50">
      <div class="align-content-center" style="height:200px;">
        <div class="centerClass">
          <img src="../../../../assets/images/upload document.png" alt="">

        </div>
        <span class="centerClass mt-3">
          Drop files here or click to upload
        </span>
      </div>
    </div>
  </div>
  <div class="centerClass mt-2">
    <span class="" style="font-size: 10px;">
      Files we can read : DOC, Docx, PDF
    </span>
  </div>
  <div class="centerClass gap-4 mt-4">
    <button type="button" class="btn btn-outline btn-light btntextColor mt-3 bt-5 resumeBtn">Start from Scratch</button>
    <button type="button" class="btn btn-outline btn-light btntextColor mt-3 bt-5 btnBackground  resumeBtn">Continue</button>
  </div>
</div>
