<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 d-flex gap-3">
      <div class="col-md-6 kt-pointer h-100 createResumeScratch">
        <div class=" centerClass">
          <img class="useImage " src="../../../../assets/images/Use Your Resume.png" alt="">
        </div>
        <div class="centerClass">
          <span class="fs-5 textColor"> Use Your Resume</span>
        </div>
        <div class="centerClass">
          <p class="mt-4">
            We'll automatically import the details from your
            existing <br>
            <span class="centerClass">
              resume to save you time and effort.
            </span>
          </p>
        </div>
      </div>
      <div class="col-md-6 h-100  kt-pointer createResumeScratch">
        <div class=" centerClass">
          <img class="useImage " src="../../../../assets/images/Create from Scratch.png" alt="">
        </div>
        <div class="centerClass">
          <span class="fs-5 textColor"> Create From Scratch</span>
        </div>
        <div class="centerClass">
          <p class="mt-4">
            Start Fresh and craft a resume tailored exactly to your
            <br>
            <span class="centerClass">carrear goals and experiance.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
