.createResumeScratch{
  border-radius: 10px !important;
  background-color:#B771E514 !important;
  height: 300px !important;
  border: 1px solid #211C8433 !important;
}

.useImage{
  width:15% !important;
  margin-top: 10% !important;
}
.centerClass{
justify-content: center !important;
display: flex !important;
}
.textColor{
 color:#211C84 !important;
 margin-top: 4% !important;
}

@media only screen and (max-width: 600px) {
  .col-md-12{
    display: block !important;
    margin-top: 1% !important;
  }
}
