<div class="container">
  <div class="row">
    <div class="col-md-12 shadow mt-4 d-flex">
      <div class="col-md-6 ms-3">
        <div>
          <img class="mt-3" src="../../../../assets/images/Frame 34335050.svg">

        </div>
        <div class="fs-3 fw-700 mt-3 font-Arial">
         Cerate An Account
        </div>
        <div class="font-Arial">
          please Create to your account by filling your data
        </div>
        <div class="mt-4">
          <label for="email" class="fs14">Email</label>
          <input type="text" class="form-control mt-2 w-75 bg-light" placeholder="Enter your Email">

          <label for="Password" class="mt-2 fs14 ">Password</label>
          <input type="password" class="form-control mt-2 w-75 bg-light" placeholder="Create your password">

          <label for="Password" class="mt-2 fs14 "> Confirm Password</label>
          <input type="password" class="form-control mt-2 w-75 bg-light" placeholder="Confirm your password">

          <!-- <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Telephone</mat-label>
              <span matTextPrefix>+1 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </form> -->


          <div class="mb-4">

            <div class="d-flex mt-4 w-75 justify-content-between ">
              <div><input type="checkbox" name="" id=""><span class="fs14 ms-1">Remember me</span></div>
              <div><a class="kt-pointer" href="" class="fs14">Forgot Password?</a></div>

            </div>
            <div>
              <button type="button" class="btn mt-2 fs14 loginbtn text-white  w-75" (click)="login()">Login</button>

              <div class="d-flex fs14 justify-content-center w-75 mt-1">
                OR
              </div>
              <button type="button" class="btn mt-2 lWG text-black fs14 w-75" > <i class="fa fa-google"></i> Login With Google</button>
            </div>
            <div class="fs14 d-flex justify-content-center w-75 mt-2 ">Already have an account ?<a class="kt-pointer"
                href="" class="fs14">Login</a></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 bgColor justify-content-center d-flex"
        style="border-radius: 34px 0px 0px 40px; width: 53.333333%;">
        <img class="vectorImg mt-5 mb-5" src="../../../../assets/images/Login pg vector.svg" alt="">
      </div>
    </div>
  </div>
</div>
