.vectorImg{
  width: 65% !important;
}
.loginbtn{
  background-color: #3b2b92;
}
.lWG{
  border: 1px solid #211C84 !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
