<p>skilltool works!</p>
<div class="d-flex justify-content-sm-center">
  <div class="d-flex justify-content-end mt-5 gap-3">
    <button type="button" class="btn btn-outline iconColorHover  btntextColor mt-3   bt-5 resumeBtn"
   >Back</button>
    <button type="button" class="btn btn-outline iconColorHover btntextColor mt-3 bt-5 resumeBtn">Preview</button>
    <button type="button" class="btn btn-outline iconColorHover btntextColor mt-3 bt-5 resumeBtn" (click)="saveNext('Summary')">Save and Next</button>
  </div>
</div>
