<nav class="navbar navbar-expand-lg  sticky-top navbar-light bg-white">
  <div class="container d-flex justify-content-between">
    <div class="navbar-brand"><span class="text-prime text-bold kt-pointer" (click)="homepage()">
   <img src="assets/images/Frame 34335050.svg" alt="">
    </span></div>

    <div>
      <button type="button" class="myaccountBtn text-prime btn btn-light" (click)="addAccount()">My Account</button>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div> -->
  </div>
</nav>
