<div class="container-fluid">

  <div>
     <img src="../../../../assets/images/user_attributes.svg" alt=""> <span class="px-3 text-prime fs-16">Let's get started with the basics</span>
  <div class="row mt-4">
    <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">First Name</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>
    <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">Last Name</label>
      <input type="text" class="form-control fs14" placeholder="Last Name" aria-label="Last Name">
    </div>
    <div class="col-md-12 mb-3 px-4">
      <label class="fs14" for="">Profession</label>
      <input type="text" class="form-control fs14" placeholder="Profession" aria-label="Profession">
    </div>
    <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">Mobile Number</label>
      <input type="text" class="form-control fs14" placeholder="Mobile Number" aria-label="Mobile Number">
    </div>
    <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">Email ID</label>
      <input type="text" class="form-control fs14" placeholder="Email ID" aria-label="Email ID">
    </div>
     <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">Linkedin</label>
      <input type="text" class="form-control fs14" placeholder="Linkedin" aria-label="First Name">
    </div>
    <div class="col-md-6 mb-3 px-4">
    <label class="fs14" for="">Portfolio</label>
      <input type="text" class="form-control fs14" placeholder="Last Name" aria-label="Last Name">
    </div>
     <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">City</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>
     <div class="col-md-3 mb-3 px-4">
      <label class="fs14" for="">City</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>
     <div class="col-md-3 mb-3 px-4">
      <label class="fs14" for="">City</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>
     <div class="col-md-6 mb-3 px-4">
      <label class="fs14" for="">Date Of Birth</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>
     <div class="col-md-3 mb-3 px-4">
      <label class="fs14" for="">Marital Status</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>
     <div class="col-md-3 mb-3 px-4">
      <label class="fs14" for="">Gender</label>
      <input type="text" class="form-control fs14" placeholder="First Name" aria-label="First Name">
    </div>

 </div>
</div>

