<div class="container">
  <div class="row ">
    <div class="col-md-12 ms-5 d-flex">
      <div class="col-md-3 text-center ">
        <div class="mt-5" id="faIcon">
          <i class="fa fa-file-pdf-o  text-center text-prime fs-1 "></i>
        </div>
        <br>
        <div class="mt-2 fs-4">
          Customizable <br>
          Templates
        </div>
        <br>
        <div class="" style="font-size: 14px;">
          Chooes from modern,elegant.or <br>creative resume designs to suit your personal brand.
        </div>
      </div>
      <div class="col-md-3 text-center ">
        <div class="mt-5" id="faIcon">
          <i class="fa fa-file-pdf-o  text-center text-prime fs-1 "></i>
        </div>
        <br>
        <div class=" mt-2 fs-4">
          Multipal Resume <br>
          Versions
        </div>
        <br>
        <div class="" style="font-size: 14px;">
          Easily manage diffrant resume<br>version tailored for specific job <br> roles.
        </div>
      </div>
      <div class="col-md-3 text-center ">
        <div class="mt-5" id="faIcon">
          <i class="fa fa-file-pdf-o  text-center text-prime fs-1 "></i>
        </div>
        <br>
        <div class="mt-2 fs-4">
          Export in PDF & <br>
          Word
        </div>
        <br>
        <div class="" style="font-size: 14px;">
          Download your resume in industry-<br> stanerd formats and share it with <br> recruiers in seconds.
        </div>
      </div>
      <div class="col-md-3 text-center ">
        <div class="mt-5" id="faIcon">
          <i class="fa fa-file-pdf-o  text-center text-prime fs-1 "></i>
        </div>
        <br>
        <div class="mt-2 fs-4">
          Multilingual <br>
          Support
        </div>
        <br>
        <div class="" style="font-size: 13px;">
          Create resume in multiple<br>languages to apply globally with <br> confidance.
        </div>
      </div>
    </div>
  </div>
</div>

