::ng-deep .p-timeline-event-opposite{
 display:flex !important;
 flex: none !important;
align-items: baseline !important;
 margin-left: 13px !important;

}
.navbar{
  box-shadow: 1px 1px 2px 0px rgba(60, 64, 67, 0.25) !important;
}
