<div class="">
  <div class=" d-flex">
    <div class="col-md-2 bg-light " style="height:auto;">
      <div class="d-flex justify-content-center">
        <img class="mt-2" src="../../../../assets/images/Frame 34335050.svg" alt="">
      </div>
      <div class="mt-5">
        <p-timeline [value]="timlineData">
          <ng-template #content let-event>
            {{ event.status }}
          </ng-template>
        </p-timeline>
      </div>
    </div>
    <div class="col-md-10 ">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container d-flex justify-content-between">
          <div class="navbar-brand "><span class="text-prime kt-pointer">
              <img src="../../../../assets/images/keyboard_backspace.svg" alt=""> <span class="fs14 mx-2 text-prime">Go
                To Dashboard</span>
            </span></div>

          <div>
            <div class="fs14 text-prime">
              Sample_Resume <img class="fs14" src="../../../../assets/images/border_color.svg" alt="">
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
      </nav>

      <div class="mt-5">
        <span class="mt-3 p-4 text-prime ">{{_pageText==0?'Personal information':_pageText}}</span>
        <div class="p-4 ms-5 mt-3 " style="border: 1px solid #EAEAF0; border-radius: 10px ;">
          <app-basic-info *ngIf="_pageText == 0"></app-basic-info>
          <app-experience-info *ngIf="_pageText == 'Work History'" class="mt-2"></app-experience-info>
          <!-- <app-working-history *ngIf="_pageText == 1" class="mt-2"></app-working-history> -->
          <app-acadmic-journy *ngIf="_pageText == 'Education'" class="mt-2"></app-acadmic-journy>
          <!-- <app-resume-dashbord *ngIf="_pageText == 3" class="mt-2"></app-resume-dashbord> -->
          <app-skilltool *ngIf="_pageText == 'Skill Tool'" class="mt-2"></app-skilltool>
          <app-summary *ngIf="_pageText == 'Summary'" class="mt-2"></app-summary>
          <app-extrasection *ngIf="_pageText == 'Extra Section'" class="mt-2"></app-extrasection>
        </div>

      </div>
    </div>
  </div>
</div>
