<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex">
      <div class="col-md-6 h-75">
        <div>
          <img src="../../.././../asset/images/header_logo.png" alt="sdd">

        </div>
        <div class="fs-3 fw-700 mt-5 font-Arial">
          Welcome Back!
        </div>
        <div class="font-Arial">
          please login to your account by filling your data
        </div>
        <!-- <label for="">Email</label>
        <input type="text"> -->
      </div>
      <div class="col-md-6 h-auto bgColor" style="    border-radius: 34px 0px 0px 40px;">

      </div>
    </div>
  </div>
</div>
