/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary-color: #1d12b3;
$star-color: orange;
$font-size: 14px;
$bgColor: #3b2b92;
$iconColor: #f155ff;
$iconColorHover: #B771E5;
$font-family :auto;
$btn-textColor:#B771E5;

.checkedStar {
  color: $star-color;
}

.text-prime {
  color: $primary-color;
}

.btn-outline {
  outline-color: $primary-color;
}

.fs14{
  font-size: $font-size;
}

.bgColor {
  background-color: $bgColor;
}

.iconColor {
  color: $iconColor;
}

.iconColorHover:hover {
  background-color: $iconColorHover;
}

.iconColorHover {
  background-color: lightgray;
}

.kt-pointer {
  cursor: pointer
}
.font-Arial{
 font-family:Arial, Helvetica, sans-serif;
}
.btntextColor{
  color: $btn-textColor;
}

.p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-input {
  height: 36px !important;
}
.p-datepicker:has(.p-datepicker-input-icon-container) {
  position: relative;
  width: 100% !important;
}
    /* style.css */

    /* Customize the main toast container */
    .toast-container {
      top: 20px;
      right: 20px;
      width: 350px;
  }

  /* Style for success toasts */
  .toast-success {
      background-color: #4CAF50; /* Green background */
      color: white;
      border-radius: 8px;
      padding: 15px;
  }

  /* Style for toast titles */
  .toast-title {
      font-weight: bold;
      font-size: 1.2em;
  }

  /* Style for toast messages */
  .toast-message {
      font-size: 1em;
  }
