<div class="container-fluid ">
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="col-md-6 mt-5">
          <span class="textFont">About</span> <span class="ms-3"> | </span>
          <span class="ms-3 textFont">Contact</span> <span class="ms-3"> | </span>
          <span class="ms-3 textFont">Privacy Policy</span> <span class="ms-3"> | </span>
          <span class="ms-3 textFont">Terms Of Service</span> <span class="ms-3"> | </span>
          <span class="ms-3 textFont">FAQ's</span> <span class="ms-3"> | </span>
          <br>
          <div class="mt-4">
            <span class="text-prime fs14">Call us : +91-7887905900</span> <span class="ms-3 text-prime fs14">Email
              :{{_Email}}</span>
          </div>
        </div>

        <div class="col-md-6 mt-5">
          <div class="">
            <div class="d-flex justify-content-end me-4 ">
              Contact Us With
            </div>
            <br>
            <div class="" style="float: inline-end;">
              <i class="fa fa-google me-3 iconColor fs-4 kt-pointer ">
                <a href="https://www.google.com/"></a>
              </i>
              <i class="fa fa-instagram me-3 iconColor fs-4 kt-pointer"></i>
              <i class="fa fa-facebook me-3 iconColor fs-4 kt-pointer"></i>
              <i class="fa fa-youtube ms-2 iconColor fs-4 kt-pointer"></i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="textFont">
      C 2025 Cartly, All Rights Reserved.
    </div>
  </div>
</div>
